In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
import seaborn as sns

import os

In [2]:
urldata = pd.read_csv(r"C:\Users\user\Downloads\urldata.csv")

In [3]:
urldata.head()

   Unnamed: 0                        url   label  result
0           0     https://www.google.com  benign       0
1           1    https://www.youtube.com  benign       0
2           2   https://www.facebook.com  benign       0
3           3      https://www.baidu.com  benign       0
4           4  https://www.wikipedia.org  benign       0

In [4]:
urldata.shape

(450176, 4)

In [5]:
urldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450176 entries, 0 to 450175
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  450176 non-null  int64
 1   url         450176 non-null  object
 2   label       450176 non-null  object
 3   result      450176 non-null  int64
dtypes: int64(2), object(2)
memory usage: 13.7+ MB

In [6]:
urldata.isnull().sum()

Unnamed: 0    0
url           0
label         0
result        0
dtype: int64

In [7]:
!pip install tld

Requirement already satisfied: tld in c:\users\user\anaconda3\lib\site-packages (0.13)

In [8]:
#Importing dependencies
from urllib.parse import urlparse
from tld import get_tld
import os.path

In [9]:
#Length of URL
urldata['url_length'] = urldata['url'].apply(lambda i: len(str(i)))

In [10]:
#Hostname Length
urldata['hostname_length'] = urldata['url'].apply(lambda i: len(urlparse(i).netloc))

In [11]:
#Path Length
urldata['path_length'] = urldata['url'].apply(lambda i: len(urlparse(i).path))

In [12]:
#First Directory Length
def fd_length(url):
    urlpath= urlparse(url).path
    try:
        return len(urlpath.split('/')[1])
    except:
        return 0

urldata['fd_length'] = urldata['url'].apply(lambda i: fd_length(i))

In [13]:
#First Directory Length
def fd_length(url):
    urlpath= urlparse(url).path
    try:
        return len(urlpath.split('/')[1])
    except:
        return 0

urldata['fd_length'] = urldata['url'].apply(lambda i: fd_length(i))

In [14]:
#Length of Top Level Domain
urldata['tld'] = urldata['url'].apply(lambda i: get_tld(i,fail_silently=True))
def tld_length(tld):
    try:
        return len(tld)
    except:
        return -1

urldata['tld_length'] = urldata['tld'].apply(lambda i: tld_length(i))

In [15]:
urldata.head()

,Unnamed: 0,url,label,result,url_length,hostname_length,path_length,fd_length,tld,tld_length
0,0,https://www.google.com,benign,0,22,14,0,0,com,3
1,1,https://www.youtube.com,benign,0,23,15,0,0,com,3
2,2,https://www.facebook.com,benign,0,24,16,0,0,com,3
3,3,https://www.baidu.com,benign,0,21,13,0,0,com,3
4,4,https://www.wikipedia.org,benign,0,25,17,0,0,org,3

In [16]:
urldata = urldata.drop("tld",1)

C:\Users\user\AppData\Local\Temp\ipykernel_19592\932459447.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  urldata = urldata.drop("tld",1)

In [17]:
urldata.head()

,Unnamed: 0,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length
0,0,https://www.google.com,benign,0,22,14,0,0,3
1,1,https://www.youtube.com,benign,0,23,15,0,0,3
2,2,https://www.facebook.com,benign,0,24,16,0,0,3
3,3,https://www.baidu.com,benign,0,21,13,0,0,3
4,4,https://www.wikipedia.org,benign,0,25,17,0,0,3

In [18]:
urldata['count-'] = urldata['url'].apply(lambda i: i.count('-'))

In [19]:
urldata['count@'] = urldata['url'].apply(lambda i: i.count('@'))

In [20]:
urldata['count?'] = urldata['url'].apply(lambda i: i.count('?'))

In [21]:
urldata['count%'] = urldata['url'].apply(lambda i: i.count('%'))

In [22]:
urldata['count.'] = urldata['url'].apply(lambda i: i.count('.'))

In [23]:
urldata['count='] = urldata['url'].apply(lambda i: i.count('='))

In [24]:
urldata['count-http'] = urldata['url'].apply(lambda i : i.count('http'))

In [25]:
urldata['count-https'] = urldata['url'].apply(lambda i : i.count('https'))

In [26]:
urldata['count-www'] = urldata['url'].apply(lambda i: i.count('www'))

In [27]:
def digit_count(url):
    digits = 0
    for i in url:
        if i.isnumeric():
            digits = digits + 1
    return digits
urldata['count-digits']= urldata['url'].apply(lambda i: digit_count(i))

In [28]:
def letter_count(url):
    letters = 0
    for i in url:
        if i.isalpha():
            letters = letters + 1
    return letters
urldata['count-letters']= urldata['url'].apply(lambda i: letter_count(i))

In [29]:
def no_of_dir(url):
    urldir = urlparse(url).path
    return urldir.count('/')
urldata['count_dir'] = urldata['url'].apply(lambda i: no_of_dir(i))

In [30]:
urldata.head()

,Unnamed: 0,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length,count-,...,count?,count%,count.,count=,count-http,count-https,count-www,count-digits,count-letters,count_dir
0,0,https://www.google.com,benign,0,22,14,0,0,3,0,...,0,0,2,0,1,1,1,0,17,0
1,1,https://www.youtube.com,benign,0,23,15,0,0,3,0,...,0,0,2,0,1,1,1,0,18,0
2,2,https://www.facebook.com,benign,0,24,16,0,0,3,0,...,0,0,2,0,1,1,1,0,19,0
3,3,https://www.baidu.com,benign,0,21,13,0,0,3,0,...,0,0,2,0,1,1,1,0,16,0
4,4,https://www.wikipedia.org,benign,0,25,17,0,0,3,0,...,0,0,2,0,1,1,1,0,20,0

In [31]:
import re

In [32]:
def having_ip_address(url):
    match = re.search(
        '(([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.'
        '([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\/)|'  # IPv4
        '((0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\/)' # IPv4 in hexadecimal
        '(?:[a-fA-F0-9]{1,4}:){7}[a-fA-F0-9]{1,4}', url)  # Ipv6
    if match:
        # print match.group()
        return -1
    else:
        # print 'No matching pattern found'
        return 1
urldata['use_of_ip'] = urldata['url'].apply(lambda i: having_ip_address(i))

In [33]:
def shortening_service(url):
    match = re.search('bit\.ly|goo\.gl|shorte\.st|go2l\.ink|x\.co|ow\.ly|t\.co|tinyurl|tr\.im|is\.gd|cli\.gs|'
                      'yfrog\.com|migre\.me|ff\.im|tiny\.cc|url4\.eu|twit\.ac|su\.pr|twurl\.nl|snipurl\.com|'
                      'short\.to|BudURL\.com|ping\.fm|post\.ly|Just\.as|bkite\.com|snipr\.com|fic\.kr|loopt\.us|'
                      'doiop\.com|short\.ie|kl\.am|wp\.me|rubyurl\.com|om\.ly|to\.ly|bit\.do|t\.co|lnkd\.in|'
                      'db\.tt|qr\.ae|adf\.ly|goo\.gl|bitly\.com|cur\.lv|tinyurl\.com|ow\.ly|bit\.ly|ity\.im|'
                      'q\.gs|is\.gd|po\.st|bc\.vc|twitthis\.com|u\.to|j\.mp|buzurl\.com|cutt\.us|u\.bb|yourls\.org|'
                      'x\.co|prettylinkpro\.com|scrnch\.me|filoops\.info|vzturl\.com|qr\.net|1url\.com|tweez\.me|v\.gd|'
                      'tr\.im|link\.zip\.net',
                      url)
    if match:
        return -1
    else:
        return 1
urldata['short_url'] = urldata['url'].apply(lambda i: shortening_service(i))

In [34]:
urldata.head()

,Unnamed: 0,url,label,result,url_length,hostname_length,path_length,fd_length,tld_length,count-,...,count.,count=,count-http,count-https,count-www,count-digits,count-letters,count_dir,use_of_ip,short_url
0,0,https://www.google.com,benign,0,22,14,0,0,3,0,...,2,0,1,1,1,0,17,0,1,1
1,1,https://www.youtube.com,benign,0,23,15,0,0,3,0,...,2,0,1,1,1,0,18,0,1,1
2,2,https://www.facebook.com,benign,0,24,16,0,0,3,0,...,2,0,1,1,1,0,19,0,1,1
3,3,https://www.baidu.com,benign,0,21,13,0,0,3,0,...,2,0,1,1,1,0,16,0,1,1
4,4,https://www.wikipedia.org,benign,0,25,17,0,0,3,0,...,2,0,1,1,1,0,20,0,1,1

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

from sklearn.tree import DecisionTreeClassifier

from sklearn.linear_model import LogisticRegression

In [36]:
x = urldata[['hostname_length',
       'path_length', 'fd_length', 'tld_length', 'count-', 'count@', 'count?',
       'count%', 'count.', 'count=', 'count-http','count-https', 'count-www', 'count-digits',
       'count-letters', 'count_dir', 'use_of_ip']]

#Target Variable
y = urldata['result']

In [37]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.3, random_state=42)

In [38]:
dt_model = DecisionTreeClassifier()
dt_model.fit(x_train,y_train)

dt_predictions = dt_model.predict(x_test)
accuracy_score(y_test,dt_predictions)

0.9954367169749051

In [39]:
print(confusion_matrix(y_test,dt_predictions))

[[241230    722]
 [   716  72456]]

In [40]:
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)

rfc_predictions = rfc.predict(x_test)
accuracy_score(y_test, rfc_predictions)

0.9972836089920158

In [41]:
print(confusion_matrix(y_test,rfc_predictions))

[[241672    280]
 [   576  72596]]